<!DOCTYPE html>
<html ng-app="TyponautApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Typonaut</title>

    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-controller="TyponautController" layout="column" layout-align="center center" ng-cloak style="background-color: rgb(250,250,250)">
    <md-content layout-padding>
        <div ng-show="showWelcomeView" layout="row" flex="33" layout-align="center center">
            <form id="nameForm" layout="column" ng-submit="submitName()" novalidate>
                <div layout="column" layout-align="center center">
                    <p id="status">Welcome!</p>
                    <md-input-container>
                        <label>Enter your name to begin</label>
                        <input id="name" ng-model="name">
                    </md-input-container>
                    <md-button type="submitName" class="md-primary md-raised">Join</md-button>
                </div>
            </form>
        </div>
        <div ng-show="showGameView" layout="row" flex="33" layout-align="center center" ng-cloak>
            <form ng-submit="sendWord()" novalidate>
                <div layout="column" layout-align="center center">
                    <p>{{status}}</p>
                    <h2>{{word}}</h2>
                    <md-input-container>
                        <label>Type here</label>
                        <input ng-model="input">
                    </md-input-container>
                    <md-button type="submit" class="md-primary md-raised">Submit</md-button>
                </div>
            </form>
        </div>
    </md-content>
    <br />
    <div ng-show="showLeaderboard()" layout="row" flex="33" layout-align="center center" ng-cloak>
        <md-content layout-padding>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody ng-model="players">
                    <tr ng-repeat="p in players">
                        <td>{{p.name}}</td>
                        <td>{{p.points}}</td>
                    </tr>
                </tbody>
            </table>
        </md-content>
    </div>

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/node_modules/angular-socket-io/socket.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/app.js"></script>
    <script type="text/javascript">
        var TyponautApp = angular.module('TyponautApp', ['ngMaterial', 'btford.socket-io']);

        TyponautApp.factory('socket', ['$rootScope', function ($rootScope) {
            var socket = io.connect();

            return {
                on: function (eventName, callback) {
                    socket.on(eventName, callback);
                },
                emit: function (eventName, data) {
                    socket.emit(eventName, data);
                }
            };
        }]);

        TyponautApp.controller('TyponautController', function ($scope, $http, socket) {
            $scope.showWelcomeView = true;
            $scope.showGameView = false;
            $scope.players = [];

            $scope.name = 'kristo';

            socket.on('new_word', function (msg) {
                $scope.word = msg;
                $scope.$apply();
            });

            socket.on('status', function (msg) {
                $scope.status = msg;
                $scope.$apply();
            });

            function compare(a, b) {
                if (a.points < b.points)
                    return 1;
                if (a.points > b.points)
                    return -1;
                return 0;
            }

            socket.on('leaderboard', function (msg) {
                console.log(msg);
                var arr = msg;
                $scope.players = arr.sort(compare);
                $scope.$apply();
            });

            $scope.sendWord = function () {
                socket.emit('send_input', $scope.input);
                $scope.input = '';
            }

            $scope.submitName = function () {
                $scope.showWelcomeView = false;
                $scope.showGameView = true;
                socket.emit('test', 'testword');
            }

            $scope.showLeaderboard = function () {
                if ($scope.players != null && $scope.players.length > 0) {
                    console.log('do show board');
                    return true;
                } else {
                    console.log('do not show board');
                    return false;
                }
            }

        });
    </script>
</body>

</html>