<!DOCTYPE html>
<html ng-app="TyponautApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Typonaut</title>

    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body ng-controller="TyponautController" layout="column" ng-cloak>
    <div id="header" layout="column" layout-align="start">
        <div id="menu_holder" ng-show="showMenu()" layout="column" layout-align="end">
            <div id="menu" layout="row" layout-align="end center">
                <div class="menu_item" layout-align="center center"  align="center">
                    <p class="menu_item_content">{{name}}</p>
                </div>
                <div class="menu_item menu_item_clickable" layout-align="center center" ng-click="reloadPage()" align="center">
                    <p class="menu_item_content">Quit</p>
                </div>
            </div>
        </div>
    </div>
    <div class="enjoy-css">Typonaut</div>
    <div id="divider">
    </div>
    <div layout-align="center center" layout="column">
        <md-content>
            <div ng-show="showWelcomeView" layout="row" flex="33" layout-align="center center">
                <form id="nameForm" layout="column" ng-submit="join()" novalidate>
                    <div layout="column" layout-align="center center">
                        <p>{{welcome}}</p>
                        <div layout="column" layout-align="start center">
                            <md-input-container>
                                <input class="input-c" ng-model="name" autofocus>
                            </md-input-container>
                            <md-button type="submitName" class="md-primary md-raised">Join</md-button>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-show="showGameView" layout="row" flex="33" layout-align="center center" ng-cloak>
                <form ng-submit="sendWord()" novalidate>
                    <div layout="column" layout-align="center center">
                        <p>{{status}}</p>
                        <div ng-show="gameStarted" layout="column" layout-align="start center">
                            <h2 class="unselectable">{{word}}</h2>
                            <md-input-container>
                                <label>Type here</label>
                                <input class="input-c" ng-model="input" autofocus>
                            </md-input-container>
                            <p><small>{{comment}}</small></p>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-show="showEndgame()" layout="column" flex="33" layout-align="center center" ng-cloak>
                <h3>{{endgame}}</h3>
                <md-button ng-click="reloadPage()" class="md-primary md-raised">Restart</md-button>
            </div>
            <div ng-show="showLeaderboard()" layout="row" flex="33" layout-align="center center" ng-cloak>
                <table class="table table-hover borderless">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody ng-model="players">
                        <tr ng-repeat="p in players">
                            <td>{{p.name}}</td>
                            <td>{{p.points}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </md-content>
    </div>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/node_modules/angular-socket-io/socket.js"></script>
    <script src="/app.js"></script>
</body>

</html>